<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos que usará la página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>LECO REFORMAS</title>


</head>

<!-- Cuerpo de la página -->

<body>
    <header class="fondo_cabecera">
        <img src="../imagenes/leco.jpg" alt="Leco reformas" class="banner">
        <div>
            <!-- Barra de navegación -->
            <nav aria-label="Menú principal">
                <div class="menu">
                    <span>
                        <a href="../index.html" class="boton">Inicio</a>
                    </span>
                    <span>
                        <a href="../views/Galeria.html" class="boton">Galeria</a>
                    </span>
                    <span>
                        <a href="../views/Presupuesto.html" class="boton">Presupuesto</a>
                    </span>
                    <span>
                        <a href="../views/contacto.html" class="boton">Contacto</a>
                    </span>
                </div>
            </nav>

        </div>
    </header>

    <div class="contenido-degradado">
        <main>

            <!-- Información principal -->
            <!-- Titulo de empresa-->
            <section class="titulo_empresa">
                <h1>Aviso Legal</h1>
            </section>

            <div class="margen_body">
                <!-- Parrafo de empresa-->

                <section class="parrafo2">
                    En cumplimiento con el deber de información recogido en el artículo 10 de la Ley 34/2002, de 11 de
                    julio, de
                    Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), se reflejan a
                    continuación los datos identificativos del sitio web y su titular.<br>

                    - Titularidad del sitio web<br>

                    - El presente sitio web es titularidad de:Luis Israel Cando Leon<br>

                    - Leco Reformas<br>




                </section>

                <section class="parrafo4">
                    Con domicilio en:<br>

                    Calle Germans LLuna, 4, Ciudad: Valencia-Alaquas, País:España<br>

                    NIF/CIF: X12345678<br>

                    Correo electrónico:Leco@reformas.com

                </section>


            </div>
        </main>
    </div>

</html>