<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos que usará la página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>LECO REFORMAS</title>


</head>

<!-- Cuerpo de la página -->

<body>
    <header class="fondo_cabecera">
        <img src="../imagenes/leco.jpg" alt="Leco reformas" class="banner">
        <div>
            <!-- Barra de navegación -->
            <nav aria-label="Menú principal">
                <div class="menu">
                    <span>
                        <a href="../index.html" class="boton">Inicio</a>
                    </span>
                    <span>
                        <a href="../views/Galeria.html" class="boton">Galeria</a>
                    </span>
                    <span>
                        <a href="../views/Presupuesto.html" class="boton">Presupuesto</a>
                    </span>
                    <span>
                        <a href="../views/contacto.html" class="boton">Contacto</a>
                    </span>
                </div>
            </nav>

        </div>
    </header>

    <div class="contenido-degradado">
        
        <main class="layout">
  <section class="parrafo1">
    <p>
      Nos destacamos por nuestros trabajos de gran calidad, rapidez y profesionalidad.
      Nuestros trabajos están <strong>GARANTIZADOS</strong>.
    </p>
  </section>

  <section class="galeria">
    <img src="../imagenes/Bañera_Plataforma.jpg" alt="Reforma de bañera plataforma" class="imagenes" width="900" height="600">
    <img src="../imagenes/Baño_GrisMarron.jpg" alt="Reforma de baño gris marrón" class="imagenes" width="900" height="600">
    <img src="../imagenes/Cocina_gres.jpg" alt="Reforma de cocina con gres" class="imagenes" width="900"  height="601">
    <img src="../imagenes/Salon_EscalerasBlanco.jpg" alt="Reforma de salón con escaleras blancas" class="imagenes" width="900" height="596">
    <img src="../imagenes/Ropero.jpg" alt="Reforma de ropero" class="imagenes" width="900" height="601">
    <img src="../imagenes/principioReforma..jpg" alt="Inicio de reforma" class="imagenes" width="900" height="599">
  </section>
</main>


        <!-- Pie de página -->
        <footer class="footer">

            Leco reformas &copy; 2024
            <!-- Enlaces a redes sociales -->
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-facebook logo_icon "></i>
            </a>

            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram logo_icon"></i>
            </a>

            <a href="https://maps.app.goo.gl/eYiV2LaYC3bJoBB88" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-map-location-dot logo_icon"></i>
            </a>

            <a href="./views/aviso_legal.html" target="_blank" rel="noopener noreferrer">Aviso Legal</a>


        </footer>
    </div>
</body>

</html>