<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos que usará la página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>LECO REFORMAS</title>


</head>

<body>
    <header class="fondo_cabecera">
        <img src="../imagenes/leco.jpg" alt="Leco reformas" class="banner">
        <div>
            <!-- Barra de navegación -->
            <nav aria-label="Menú principal">
                <div class="menu">
                    <span>
                        <a href="../index.html" class="boton">Inicio</a>
                    </span>
                    <span>
                        <a href="../views/Galeria.html" class="boton">Galeria</a>
                    </span>
                    <span>
                        <a href="../views/Presupuesto.html" class="boton">Presupuesto</a>
                    </span>
                    <span>
                        <a href="../views/contacto.html" class="boton">Contacto</a>
                    </span>
                </div>
            </nav>

        </div>
    </header>

    <div class="contenido-degradado">
        <main class="parrafo2">
            <p>Hemos recibido tu solicitud y nos pondremos en contacto contigo lo antes posible.
                Mientras tanto, puedes explorar nuestra galería de proyectos para inspirarte.
                ¡Gracias por confiar en LECO REFORMAS!</p>
        </main>

        <!-- Pie de página -->
        <footer class="footer">

            Leco reformas &copy; 2024
            <!-- Enlaces a redes sociales -->
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-facebook logo_icon "></i>
            </a>

            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram logo_icon"></i>
            </a>

            <a href="https://maps.app.goo.gl/eYiV2LaYC3bJoBB88" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-map-location-dot logo_icon"></i>
            </a>

            <a href="./views/aviso_legal.html" target="_blank" rel="noopener noreferrer">Aviso Legal</a>


        </footer>
    </div>


</body>






</html>